body {
  margin: 0%;
  background-color: aquamarine;
}
.circle {
  background-color: brown;
  border: 4px solid black;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: 50px; /* This is for just giving margin at left side so circle can move a little left same for top*/
  margin-top: 50px;
}

.rectangle {
  border: 5px solid black;
  width: 230px;
  height: 200px;
  margin: 50px;
}

.square {
  border: 5px solid red;
  width: 300px;
  height: 300px;
  margin: 50px;
}
